<mat-toolbar>
  <span>
    <a routerLink="/">
      My Application
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isUserAuth"><a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a></li>
    <li *ngIf="!isUserAuth"><a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a></li>
    <li *ngIf="!isUserAuth"><a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign up</a></li>
    <li *ngIf="isUserAuth"><button mat-button (click)="logout()">Log out</button></li>
  </ul>
</mat-toolbar>