<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- Reactive Form-->
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field class="example-full-width">
      <mat-label>Add Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <div>
      <button type="button" mat-button (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview && imagePreview !== ''">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a content for post</mat-error>
    </mat-form-field>
    <button type="submit" color="accent" mat-raised-button>Save Post</button>
  </form>
</mat-card>