<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Add Title</mat-label>
      <input matInput name="title" ngModel required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a content for post</mat-error>
    </mat-form-field>
    <button type="submit" color="accent" mat-raised-button>Save Post</button>
  </form>
</mat-card>
